@* ReSharper disable once CheckNamespace *@
@namespace Rembox.WebKit.Blazor.Components

<div class="container full-height" style="justify-content: stretch; align-content: stretch">
    @ChildContent
</div>