.rb-block {
  background-color: var(--rb-bg-500);
}

.empty {
  padding: 0;
  background-color: transparent;
}

.content {
  padding: 20px 25px;
  background-color: var(--rb-bg-100);
}

.columns {
  padding: 20px 25px 10px 25px;
  background-color: var(--rb-bg-500);
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}