.rb-target {
  border: solid 1px red;
  display: block;
}

.rb-wrapper {
  position: relative;
  display: inline-block;
}

.hoverable {
  &:hover {
    .rb-container {
      visibility: visible;
      opacity: 1;
    }
  }
}

.rb-container {
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: all 0.4s ease;

  position: absolute;
  background-color: var(--rb-bg-100);
  border: solid 1px var(--rb-border-700);
  border-radius: 5px;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &.bottomcenter {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.topcenter {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.leftcenter {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &.rightcenter {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &.arrow-rightcenter {
    margin-left: 10px;

    ::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;

      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      left: -6px;
      top: calc(50% - 5px);
      transform: rotate(135deg);
    }
  }

  &.arrow-leftcenter {
    margin-right: 10px;

    ::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;

      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      right: -6px;
      top: calc(50% - 5px);
      transform: rotate(-45deg);
    }
  }

  &.arrow-topcenter {
    margin-bottom: 10px;

    ::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;

      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      left: 50%;
      bottom: -6px;
      transform: rotate(45deg);
    }
  }

  &.arrow-bottomcenter {
    margin-top: 10px;
    ::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: transparent;

      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      left: 50%;
      top: -6px;
      transform: rotate(225deg);
    }
  }
  
  &.arrow-bottomcenter .header::after {
    background-color: var(--rb-bg-500) !important;
    z-index: 100;
  }

  &.arrow-bottomcenter ::after {
    background-color: white;
  }

  .header {
    border-bottom: solid 1px var(--rb-border-700);
    background-color: var(--rb-bg-500);
    padding: 0.2rem 0.75rem;
  }
  
  .header + .content {
    ::after {
      background-color: var(--rb-bg-500);
    }
  }
  
  .content {
    padding: 0.5rem 0.75rem;
    color: #212529;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: .8rem;
  }
}