.rb-target {
  display: block;
}

.rb-wrapper {
  position: relative;
  display: inline-block;
}

.hoverable:hover .rb-container {
  visibility: visible;
  opacity: 1;
}

.rb-container {
  visibility: hidden;
  z-index: 100;
  opacity: 0;
  transition: all 0.4s ease;
  position: absolute;
  background-color: var(--rb-bg-100);
  border: solid 1px var(--rb-border-700);
  border-radius: 5px;
}
.rb-container.tooltip {
  background-color: black;
}
.rb-container.tooltip .content {
  color: white !important;
  font-size: 10px;
  white-space: nowrap;
  padding: 5px;
}
.rb-container.visible {
  opacity: 1;
  visibility: visible;
}
.rb-container.bottomcenter {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.rb-container.topcenter {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.rb-container.leftcenter {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.rb-container.rightcenter {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.rb-container.arrow-rightcenter {
  margin-left: 10px;
}
.rb-container.arrow-rightcenter ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  left: -6px;
  top: calc(50% - 5px);
  transform: rotate(135deg);
}
.rb-container.arrow-leftcenter {
  margin-right: 10px;
}
.rb-container.arrow-leftcenter ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  right: -6px;
  top: calc(50% - 5px);
  transform: rotate(-45deg);
}
.rb-container.arrow-topcenter {
  margin-bottom: 10px;
}
.rb-container.arrow-topcenter ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  bottom: -6px;
  transform: rotate(45deg);
}
.rb-container.arrow-bottomcenter {
  margin-top: 10px;
}
.rb-container.arrow-bottomcenter ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  top: -6px;
  transform: rotate(225deg);
}
.rb-container.arrow-bottomcenter .header::after {
  background-color: var(--rb-bg-500) !important;
  z-index: 100;
}
.rb-container.arrow-bottomcenter ::after {
  background-color: white;
}
.rb-container .header {
  border-bottom: solid 1px var(--rb-border-700);
  background-color: var(--rb-bg-500);
  padding: 0.2rem 0.75rem;
}
.rb-container .header + .content ::after {
  background-color: var(--rb-bg-500);
}
.rb-container .content {
  padding: 0.5rem 0.75rem;
  color: #212529;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.8rem;
}

.rb-container.tooltip .content::after {
  background-color: black;
}

/*# sourceMappingURL=RbPopover.razor.css.map */
