@* ReSharper disable once CheckNamespace *@
@namespace Rembox.WebKit.Blazor.Components
@using Rembox.WebKit.Blazor.Core;

<CascadingValue Value="Context">
    <div class="rb-sidebar">
        <div class="@CssBuilder.CssClasses( "menu", Context.IsExpanded ? "expanded" : "collapsed" )">
            <div class="header">
                @if (Context.IsExpanded)
                {
                    @Header
                }
                else
                {
                    @(CollapsedHeader ?? Header)
                }
            </div>
            <div class="items">
                @Items
            </div>
            <div class="footer">
                <span onclick="@Toggle">footer</span>
            </div>
        </div>
        <div class="content">
            @Content
        </div>
    </div>
</CascadingValue>