@* ReSharper disable once CheckNamespace *@
@namespace Rembox.WebKit.Blazor.Components
@using Rembox.WebKit.Blazor.Core;

<CascadingValue Value="Context">
    <div class="rb-sidebar">
        <div class="@CssBuilder.CssClasses( "menu", Context.IsExpanded ? "expanded" : "collapsed" )">
            <div class="header">
                @if (Context.IsExpanded)
                {
                    @Header
                }
                else
                {
                    @(CollapsedHeader ?? Header)
                }
            </div>
            <div class="items">
                @Items
            </div>
            <div class="footer">
                <div class="footer-item">
                    @Footer
                </div>
                <div class="footer-toggle" onclick="@Toggle">
                    @if (Context.IsExpanded)
                    {
                        <RbIcon Name="first_page"/>
                    }
                    else
                    {
                        <RbIcon Name="last_page"/>
                    }
                </div>
            </div>
        </div>
        <div class="content">
            @Content
        </div>
    </div>
</CascadingValue>