.rb-sidebar {
  width: 100%;
  height: 100%;

  display: flex;
  color: var(--rb-sidebar-fg);
  background-color: var(--rb-sidebar-bg);
  font-weight: var(--rb-sidebar-font-weight);
  line-height: var(--rb-sidebar-line-height);
  font-family: var(--rb-sidebar-font-family);

  .content {
    width: 100%;
    overflow-y: auto;
  }

  .menu {
    transition: flex 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--rb-sidebar-header-fg);
      background-color: var(--rb-sidebar-header-bg);
      flex: 0 0 var(--rb-sidebar-header-height);
      white-space: nowrap;
      overflow: hidden;
    }
    
    .items {
      margin-top: 25px;
      flex: 1;
    }
    
    .footer {
      flex: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      &.expanded {
        flex-direction: row;
      }
      
      .footer-item {
        flex: 1;
      }
      .footer-toggle {
        flex: 0 0 30px;
        cursor: pointer;
        display: flex;
        vertical-align: center;
        justify-content: center;
        &:hover {
          background-color: var(--rb-sidebar-hover-bg);
          color: var(--rb-sidebar-hover-fg);
        }
      }
    }
    
    &.expanded {
      flex: 0 0 var(--rb-sidebar-expanded-width);
    }

    &.collapsed {
      flex: 0 0 var(--rb-sidebar-collapsed-width);
    }
  }
}