@import "forms";

.rb-select {
  @extend .rb-input;
  padding: 0;
  width: 100%;
  position: relative;

  display: flex;

  .selector {
    display: flex;
    width: 100%;
    
    .text-input {
      flex: 1;
      padding: 6px 12px;
    }

    .expander {
      display: flex;
      flex: 0 0 30px;
      align-items: center;
      justify-content: center;
      border-left: solid 1px var(--border);
    }
  }

  &:hover {
    .items {
      visibility: visible !important;
    }
  }
  .items {
    background-color: white;
    visibility: hidden;
    position: absolute;
    width: 100%;
    border: solid 1px var(--border);
    border-top: 0;
    top: 35px;
    left: -1px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1100;
    
    .no-items {
      width: 100%;
      padding: 25px;
    }
    
    .item {
      padding: 6px 12px;
      &:hover {
        cursor: pointer;
        color: var(--rb-blue-fg);
        background-color: var(--rb-blue-lighten);
      }
    }
  }
}