@inherits LayoutComponentBase

@using Rembox.WebKit.Blazor.Components

<RbSideBar>
    <Header>Rembox WebKit</Header>
    <CollapsedHeader>RW</CollapsedHeader>
    <Items>
        <RbSideBarItem Title="Folder" Icon="folder" />
        <RbSideBarItem Title="Settings" Icon="settings" />
    </Items>
    <Content>
        <RbContainer Orientation="@Orientation">
            <RbBlock Size="100px">
                Rembox WebKit
            </RbBlock>
            <RbBlock Size="1">
            </RbBlock>
            <RbBlock Size="200px">
                <button onclick="@Toggle">toogle</button>
                <RbIcon Name="settings" />
            </RbBlock>
        </RbContainer>
    </Content>
</RbSideBar>

@code
{
    RbContainerOrientation Orientation { get; set; } = RbContainerOrientation.Vertical;

    void Toggle()
    {
        Orientation = Orientation == RbContainerOrientation.Horizontal
            ? RbContainerOrientation.Vertical
            : RbContainerOrientation.Horizontal;
    }
}