@inherits LayoutComponentBase

@using Rembox.WebKit.Blazor.Components

<RbSideBar>
    <Header>Rembox WebKit</Header>
    <CollapsedHeader>RW</CollapsedHeader>
    <Items>
        <RbSideBarItem Title="Folder" Icon="folder" Href="/folders" Badge="Warning" BadgeSeverity="RbSeverity.Warning">
            <RbSideBarItem Title="Folder-1" Href="/folders/folder-1" Badge="1 error" BadgeSeverity="RbSeverity.Danger"/>
            <RbSideBarItem Title="Folder-2" Href="/folders/folder-2"/>
            <RbSideBarItem Title="Folder-3" Href="/folders/folder-3" Badge="3 messages"/>
            <RbSideBarItem Title="Folder-4" Href="/folders/folder-4"/>
        </RbSideBarItem>
        <RbSideBarItem Title="Settings1" Icon="settings" Href="/settings">
            <RbSideBarItem Title="Settings-1" Href="/settings/settings-1"/>
            <RbSideBarItem Title="Settings-2" Href="/settings/settings-2"/>
            <RbSideBarItem Title="Settings-3" Href="/settings/settings-3"/>
            <RbSideBarItem Title="Settings-4" Href="/settings/settings-4"/>
        </RbSideBarItem>
    </Items>
    <Footer>
        <RbSideBarItem Title="Account" Icon="person" Href="/account" />
    </Footer>
    <Content>
        <RbContainer Orientation="@Orientation">
            <RbBlock Size="100px">
                Rembox WebKit
                <RbBadge Color="RbSeverity.Secondary">Secondary</RbBadge>
                <RbBadge Color="RbSeverity.Primary">Primary</RbBadge>
                <RbBadge Color="RbSeverity.Info">Info</RbBadge>
                <RbBadge Color="RbSeverity.Success">Success</RbBadge>
                <RbBadge Color="RbSeverity.Warning">Warning</RbBadge>
                <RbBadge Color="RbSeverity.Danger">Error</RbBadge>
            </RbBlock>
            <RbBlock Size="1">
            </RbBlock>
            <RbBlock Size="200px">
                <button onclick="@Toggle">toogle</button>
                <RbIcon Name="settings"/>
            </RbBlock>
        </RbContainer>
    </Content>
</RbSideBar>

@code
{
    RbContainerOrientation Orientation { get; set; } = RbContainerOrientation.Vertical;

    void Toggle()
    {
        Orientation = Orientation == RbContainerOrientation.Horizontal
            ? RbContainerOrientation.Vertical
            : RbContainerOrientation.Horizontal;
    }
}