@inherits LayoutComponentBase

@using Rembox.WebKit.Blazor.Components

<RbSideBar>
    <Header>Rembox WebKit</Header>
    <CollapsedHeader>RW</CollapsedHeader>
    <Items>
        <RbSideBarItem Title="UI Components" Icon="grid_view" Href="/ui-components">
            <RbSideBarItem Title="Layout" Href="/ui-components/layout" />
            <RbSideBarItem Title="Popovers" Href="/ui-components/popovers" />
        </RbSideBarItem>
        <RbSideBarItem Title="Settings1" Icon="settings" Href="/settings">
            <RbSideBarItem Title="Settings-1" Href="/settings/settings-1"/>
            <RbSideBarItem Title="Settings-2" Href="/settings/settings-2"/>
            <RbSideBarItem Title="Settings-3" Href="/settings/settings-3"/>
            <RbSideBarItem Title="Settings-4" Href="/settings/settings-4"/>
        </RbSideBarItem>
    </Items>
    <Footer>
        <RbSideBarItem Title="Account" Icon="person" Href="/account"/>
    </Footer>
    <Content>
        <RbContainer Orientation="@Orientation">
            <RbContainerBlock Size="10px" BlockType="RbContainerBlockType.Empty">
                <RbNavBar>
                    <RbNavBarBlock></RbNavBarBlock>
                </RbNavBar>
            </RbContainerBlock>
            <RbContainerBlock Size="1" BlockType="RbContainerBlockType.Empty">
                @Body
            </RbContainerBlock>
            <RbContainerBlock Size="0">
                <button onclick="@Toggle">toogle</button>
                <RbIcon Name="settings"/>
            </RbContainerBlock>
        </RbContainer>
    </Content>
</RbSideBar>

@code
{
    RbContainerOrientation Orientation { get; set; } = RbContainerOrientation.Vertical;

    void Toggle()
    {
        Orientation = Orientation == RbContainerOrientation.Horizontal
            ? RbContainerOrientation.Vertical
            : RbContainerOrientation.Horizontal;
    }
}