@import "dark-theme.css";

body {
  
  // colors
  --rb-grey: #D1DADE;
  --rb-grey-fg: #5E5E5E;
  --rb-green: #1ab394;
  --rb-green-fg: white;
  --rb-lightblue: #23c6c8;
  --rb-lightblue-fg: white;
  --rb-blue: #1c84c6;
  --rb-blue-fg: white;
  --rb-orange: #f8ac59;
  --rb-orange-fg: white;
  --rb-red: #ED5565;
  --rb-red-fg: white;
  
  // severity:
  --rb-secondary: var(--rb-grey);
  --rb-secondary-fg: var(--rb-grey-fg);
  --rb-primary: var(--rb-blue);
  --rb-primary-fg: var(--rb-blue-fg);
  --rb-info: var(--rb-lightblue);
  --rb-info-fg: var(--rb-lightblue-fg);
  --rb-success: var(--rb-green);
  --rb-success-fg: var(--rb-green-fg);
  --rb-warning: var(--rb-orange);
  --rb-warning-fg: var(--rb-orange-fg);
  --rb-danger: var(--rb-red);
  --rb-danger-fg: var(--rb-red-fg);
  
  // navigation
  --rb-nav-header-height: 30px;

  // sidebar
  --rb-sidebar-font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --rb-sidebar-header-height: var(--rb-nav-header-height);
  --rb-sidebar-font-size: 13px;
  --rb-sidebar-font-weight: 600;
  --rb-sidebar-line-height: 1.5;
  --rb-sidebar-collapsed-width: 50px;
  --rb-sidebar-expanded-width: 200px;
  --rb-sidebar-header-bg: var(--accent-a-bg-100);
  --rb-sidebar-header-fg: var(--accent-a-fg-active);
  
  --rb-sidebar-bg: var(--accent-a-bg-100);
  --rb-sidebar-fg: var(--accent-a-fg-100);
  --rb-sidebar-hover-bg: var(--accent-a-bg-900);
  --rb-sidebar-hover-fg: var(--accent-a-fg-active);
  --rb-sidebar-active-bg: var(--accent-a-bg-900);
  --rb-sidebar-active-fg: var(--accent-a-fg-active);
  --rb-sidebar-active-border: var(--rb-green);
}

.rb-icon {
  font-size: 24px;
}